body {
    text-align: center;
    
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgb(122, 238, 50) 100%
    );
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}
